<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Detection Web App</title>
</head>
<body>
    <h1>Welcome to Fire Detection</h1>
    
    <h2>Add Device</h2>
    <ul>
        <li><a href="/add_device_form">Add device</a></li>
        <!-- Add more navigation links as needed -->
    </ul>
    

    <h2>Add User</h2>
    <ul>
        <li><a href="/add_user_form">Add User</a></li>
        <!-- Add more navigation links as needed -->
    </ul>


</body>
</html>
